<h1>New game</h1>

<% @letters.each do |letter| %>
  <span class="letter"><%= letter %></span>
<% end %>
<form action="/score" method="POST" data-turbo="false">
<label for="guess">What is the longest word you can find ?</label><br>
  <input type="text" name="word">
  <input type="submit">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
</form>
